<div class="main-menu">
	<header class="header">
		<a href="/user/loadDashboard" class="logo">detection</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li class="current">
					<a class="waves-effect" href="/user/loadDashboard"><i class="menu-icon mdi mdi-account"></i><span>User Dashboard</span></a>
				</li>


                <li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-video"></i><span>Manage Video</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/loadVideo">Upload Video</a></li>
						<li><a href="/user/viewVideo">View Video</a></li>
                    </ul>
                </li>

                <li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-message-alert"></i><span>Manage Complain</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/loadComplain">Post Complain</a></li>
						<li><a href="/user/viewComplain">View Complain</a></li>
                    </ul>
                </li>

                 <li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-comment-text-outline"></i><span>Manage Feedback</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/loadFeedback">Post Feedback</a></li>
						<li><a href="/user/viewFeedback">View Feedback</a></li>
                    </ul>
                </li>


            </ul>

		</div>

	</div>

</div>
