<div class="main-menu">
	<header class="header">
		<a href="/admin/loadDashboard" class="logo">detection</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li >
					<a class="waves-effect" href="/admin/loadDashboard"><i class="menu-icon mdi mdi-account"></i><span>Admin Dashboard</span></a>
				</li>
                <li >
					<a class="waves-effect" href="/admin/viewUser"><i class="menu-icon mdi mdi-account"></i><span>Manage User</span></a>
				</li>


				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-folder"></i><span>Manage Dataset</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/admin/loadDataset">Add Dataset</a></li>
						<li><a href="/admin/viewDataset">View Dataset</a></li>
                    </ul>
					<!-- /.sub-menu js__content -->
				</li>

				<li>
					<a class="waves-effect" href="/admin/viewVideo"><i class="menu-icon mdi mdi-video"></i><span>Manage Video</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/admin/viewDetection"><i class="menu-icon mdi mdi-webcam"></i><span>Manage Detection</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/admin/viewComplain"><i class="menu-icon mdi mdi-message-alert"></i><span>Manage Complain</span></a>
                </li>
                <li>
					<a class="waves-effect" href="/admin/viewFeedback"><i class="menu-icon mdi mdi-comment-text-outline"></i><span>Manage Feedback</span></a>
                </li>
            </ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>

</div>
